@import "fonts";

$font__main                  : 'Roboto', sans-serif;
$font__header                : $font__main;
$font__italic                : 'Merriweather', serif;
$font__pre                   : Monaco, Consolas, monospace;
$font__line-height-body      : 1.58;
$font__line-height-pre       : 1.6;
$font__weight-body           : 300;
$font__weight-strong         : 500;
$font__weight-headings       : 900;
$font__weight-bq             : 400;

$size__site-main             : 100%;
$size__site-sidebar          : 25%;
$size__box                   : 1240px;
$size__box-inner             : 1090px;
$size__tablet                : 768px;

$color__main                 : #cc4b4c;
$color__main-lg              : #FFF4F4;
$color__main-dark            : #4BCCCB;
$color__bg                   : #FFF;
$color__bg-light             : #EBEBEB;
$color__bg-table             : #F9FAFB;

$color__text-title           : #7E7E7E;
$color__text-body            : #545454;
$color__text-block           : #303a3c;
$color__text-hl              : $color__bg;
$color__link                 : $color__text-body;

$color__background-section   : white;
$color__background-footer    : #545454;

$color__border-field         : rgba(0,0,0,.2);