@charset "UTF-8";
/*!
Theme Name: Glop Hosteleria Duo Theme
Theme URI: https://wglop.es
Author: Glop
Author URI: https://www.glop.es
Description: This is a Theme created for WordPress from scratch
Version: 1.2
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wglop-hosteleria-duo-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  src: local("Merriweather Regular"), url("scss/variables/fonts/merriweather-lightitalic-webfont.woff2") format("woff2"), url("scss/variables/fonts/merriweather-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  src: local("Merriweather Italic"), url("scss/variables/fonts/merriweather-italic-webfont.woff2") format("woff2"), url("scss/variables/fonts/merriweather-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local("Roboto Light"), url("scss/variables/fonts/roboto-light-webfont.woff2") format("woff2"), url("scss/variables/fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local("Roboto Light Italic"), url("scss/variables/fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("scss/variables/fonts/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local("Roboto Medium"), url("scss/variables/fonts/roboto-medium-webfont.woff2") format("woff2"), url("scss/variables/fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local("Roboto Medium Italic"), url("scss/variables/fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("scss/variables/fonts/roboto-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local("Roboto Black"), url("scss/variables/fonts/roboto-black-webfont.woff2") format("woff2"), url("scss/variables/fonts/roboto-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local("Roboto Black Italic"), url("scss/variables/fonts/roboto-blackitalic-webfont.woff2") format("woff2"), url("scss/variables/fonts/roboto-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

/*--------------------------------------------------------------
# Assets
--------------------------------------------------------------*/
/* Custom Fla Bernárdez normalize.css*/
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: #fff;
  position: absolute;
  z-index: 30; }

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px; }

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  transition-duration: 0.5s; }

.twentytwenty-before-label, .twentytwenty-after-label {
  transition-property: opacity; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.1em; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  border-radius: 2px; }

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px; }

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px; }

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px; }

.twentytwenty-container {
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .twentytwenty-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: block; }
  .twentytwenty-container.active .twentytwenty-overlay,
  .twentytwenty-container.active :hover.twentytwenty-overlay {
    background: rgba(0, 0, 0, 0); }
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label,
    .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
      opacity: 0; }
  .twentytwenty-container * {
    box-sizing: content-box; }

.twentytwenty-before-label {
  opacity: 0; }
  .twentytwenty-before-label:before {
    content: attr(data-content); }

.twentytwenty-after-label {
  opacity: 0; }
  .twentytwenty-after-label:before {
    content: attr(data-content); }

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px; }

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px; }

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px; }

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px; }

.twentytwenty-overlay {
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25; }
  .twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0.5); }
    .twentytwenty-overlay:hover .twentytwenty-after-label {
      opacity: 1; }
    .twentytwenty-overlay:hover .twentytwenty-before-label {
      opacity: 1; }

.twentytwenty-before {
  z-index: 20; }

.twentytwenty-after {
  z-index: 10; }

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid #fff;
  border-radius: 1000px;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer; }

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  box-shadow: 0 3px 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  box-shadow: 0 -3px 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  box-shadow: 3px 0 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  box-shadow: -3px 0 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-left-arrow {
  border-right: 6px solid #fff;
  left: 50%;
  margin-left: -17px; }

.twentytwenty-right-arrow {
  border-left: 6px solid #fff;
  right: 50%;
  margin-right: -17px; }

.twentytwenty-up-arrow {
  border-bottom: 6px solid #fff;
  top: 50%;
  margin-top: -17px; }

.twentytwenty-down-arrow {
  border-top: 6px solid #fff;
  bottom: 50%;
  margin-bottom: -17px; }

.twentytwenty-before-label,
.twentytwenty-after-label {
  display: flex;
  justify-content: center; }

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 20px; }

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 20px; }

.twentytwenty-vertical .twentytwenty-before-label:before,
.twentytwenty-vertical .twentytwenty-after-label:before {
  left: auto;
  margin-left: auto;
  text-align: center;
  width: auto; }

.twentytwenty-container {
  border-radius: 10px;
  box-shadow: 0px 12px 50px 0px #cdd6d8; }

#mesa-sentado-de-pie {
  max-width: 431px; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #545454;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.58;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  clear: both;
  font-weight: 900; }

h1, h2 {
  font-size: 35.2px;
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1.6rem; }
  @media screen and (max-width: 768px) {
    h1, h2 {
      font-size: 28.8px;
      font-size: 1.8rem;
      margin-bottom: 1rem; } }

h3,
.gform_wrapper h3.gform_title {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.2; }
  @media screen and (max-width: 768px) {
    h3,
    .gform_wrapper h3.gform_title {
      font-size: 22.4px;
      font-size: 1.4rem; } }

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2; }
  @media screen and (max-width: 768px) {
    h4 {
      font-size: 19.2px;
      font-size: 1.2rem; } }

p, ul, ol {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.2em;
  font-size: 21px;
  font-size: 1.3125rem; }
  @media screen and (max-width: 768px) {
    p, ul, ol {
      font-size: 17.6px;
      font-size: 1.1rem;
      line-height: 1.4; } }

strong {
  font-weight: 500; }

blockquote strong {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 400; }

blockquote p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 300; }

dfn, cite, em, i {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #EBEBEB;
  font-family: Monaco, Consolas, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #cc4b4c;
  cursor: help; }

mark, ins {
  background: #EBEBEB;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  background: #FFF; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #EBEBEB;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em;
  font-weight: 300; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  max-width: 100%; }

figure {
  margin: 1em 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

td, th {
  border-bottom: 0;
  padding: 15px;
  text-align: left; }

.page-id-20 .tix-ticket-221,
.page-id-20 .tix-ticket-198,
.page-id-46 .tix-ticket-215,
.page-id-46 .tix-ticket-213,
.page-id-46 .tix-ticket-208 {
  display: none; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.wp-block-button {
  color: #FFF;
  margin-bottom: 1.5em; }
  .wp-block-button.aligncenter {
    text-align: center; }
  .wp-block-button.alignright {
    text-align: right; }

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.entry-content .wp-block-button__link,
.wp-block-button__link,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #cc4b4c;
  border: none;
  border-radius: 37.3333333333px;
  box-shadow: none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 19.2px;
  font-size: 1.2rem;
  text-transform: inherit;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: break-word; }
  button:hover, button:focus, button:active,
  .button:hover,
  .button:focus,
  .button:active,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="button"]:active,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="reset"]:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active,
  .entry-content .wp-block-button__link:hover,
  .entry-content .wp-block-button__link:focus,
  .entry-content .wp-block-button__link:active,
  .wp-block-button__link:hover,
  .wp-block-button__link:focus,
  .wp-block-button__link:active,
  .woocommerce #respond input#submit.alt:hover,
  .woocommerce #respond input#submit.alt:focus,
  .woocommerce #respond input#submit.alt:active,
  .woocommerce a.button.alt:hover,
  .woocommerce a.button.alt:focus,
  .woocommerce a.button.alt:active,
  .woocommerce button.button.alt:hover,
  .woocommerce button.button.alt:focus,
  .woocommerce button.button.alt:active,
  .woocommerce input.button.alt:hover,
  .woocommerce input.button.alt:focus,
  .woocommerce input.button.alt:active {
    color: #FFF;
    transition: all ease-in-out 0.25s;
    transform: translate(0, 1px);
    background-color: #cc4b4c; }
  @media screen and (max-width: 768px) {
    button,
    .button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .entry-content .wp-block-button__link,
    .wp-block-button__link,
    .woocommerce #respond input#submit.alt,
    .woocommerce a.button.alt,
    .woocommerce button.button.alt,
    .woocommerce input.button.alt {
      width: 100%;
      margin: 0.5rem 0; } }
  button.button-secondary,
  .button.button-secondary,
  input[type="button"].button-secondary,
  input[type="reset"].button-secondary,
  input[type="submit"].button-secondary,
  .entry-content .wp-block-button__link.button-secondary,
  .wp-block-button__link.button-secondary,
  .woocommerce #respond input#submit.alt.button-secondary,
  .woocommerce a.button.alt.button-secondary,
  .woocommerce button.button.alt.button-secondary,
  .woocommerce input.button.alt.button-secondary {
    background-color: transparent;
    padding: 12px 0 0;
    border-bottom: 2px solid #FFF;
    border-radius: 0; }
    button.button-secondary:hover,
    .button.button-secondary:hover,
    input[type="button"].button-secondary:hover,
    input[type="reset"].button-secondary:hover,
    input[type="submit"].button-secondary:hover,
    .entry-content .wp-block-button__link.button-secondary:hover,
    .wp-block-button__link.button-secondary:hover,
    .woocommerce #respond input#submit.alt.button-secondary:hover,
    .woocommerce a.button.alt.button-secondary:hover,
    .woocommerce button.button.alt.button-secondary:hover,
    .woocommerce input.button.alt.button-secondary:hover {
      background-color: transparent; }

input[type="submit"]:hover {
  color: #FFF; }

.entry-content .wp-block-button__link,
.wp-block-button__link {
  box-shadow: 0px 5px 40px 0px #cdd6d8; }

.is-style-squared .wp-block-button__link {
  border-radius: 0; }

.is-style-outline {
  color: #cc4b4c; }
  .is-style-outline .wp-block-button__link {
    background: transparent;
    border: 2px solid currentcolor; }

.button-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="submit"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio],
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select,
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  color: #545454;
  padding: 3px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="submit"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus,
  select:focus,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select:focus,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select:focus,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio]:focus,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select:focus,
  .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus {
    color: #cc4b4c; }
  input[type="text"]:last-child, input[type="text"]:last-of-type,
  input[type="email"]:last-child,
  input[type="email"]:last-of-type,
  input[type="url"]:last-child,
  input[type="url"]:last-of-type,
  input[type="password"]:last-child,
  input[type="password"]:last-of-type,
  input[type="number"]:last-child,
  input[type="number"]:last-of-type,
  input[type="tel"]:last-child,
  input[type="tel"]:last-of-type,
  input[type="submit"]:last-child,
  input[type="submit"]:last-of-type,
  input[type="range"]:last-child,
  input[type="range"]:last-of-type,
  input[type="date"]:last-child,
  input[type="date"]:last-of-type,
  input[type="month"]:last-child,
  input[type="month"]:last-of-type,
  input[type="week"]:last-child,
  input[type="week"]:last-of-type,
  input[type="time"]:last-child,
  input[type="time"]:last-of-type,
  input[type="datetime"]:last-child,
  input[type="datetime"]:last-of-type,
  input[type="datetime-local"]:last-child,
  input[type="datetime-local"]:last-of-type,
  input[type="color"]:last-child,
  input[type="color"]:last-of-type,
  textarea:last-child,
  textarea:last-of-type,
  select:last-child,
  select:last-of-type,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select:last-child,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select:last-of-type,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select:last-child,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select:last-of-type,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio]:last-child,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio]:last-of-type,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select:last-child,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select:last-of-type,
  .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):last-child,
  .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):last-of-type {
    margin-bottom: 1rem; }

.select2-container--default .select2-selection--single {
  height: 40px;
  display: flex;
  align-items: center; }

.search-form {
  background-color: #EBEBEB;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-form > label {
    width: 100%; }
  .search-form input[type="search"] {
    font-size: 24px;
    font-size: 1.5rem;
    width: 100%;
    color: #7E7E7E;
    border: 0;
    background-color: transparent;
    text-align: left;
    -webkit-appearance: none;
    padding-right: 0.5rem;
    margin-right: 1rem; }
    .search-form input[type="search"]:last-child, .search-form input[type="search"]:last-of-type {
      margin-bottom: 0; }
    .search-form input[type="search"]:focus, .search-form input[type="search"]:hover {
      color: #cc4b4c;
      outline: none; }
  .search-form input[type="submit"] {
    color: #7E7E7E;
    padding: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;
    font-size: 19.2px;
    font-size: 1.2rem; }
    .search-form input[type="submit"]:focus, .search-form input[type="submit"]:hover {
      color: #cc4b4c;
      outline: none; }
    @media screen and (max-width: 768px) {
      .search-form input[type="submit"] {
        width: initial; } }

textarea {
  width: 100%; }

.gfield,
.gfield_checkbox {
  list-style: none;
  margin: 0;
  font-weight: 300; }
  .gfield input,
  .gfield_checkbox input {
    border: 1px solid #FFF;
    border-radius: 2px; }
  .gfield > li,
  .gfield_checkbox > li {
    margin: 0; }

.gform_fields {
  margin: 0;
  font-weight: 500; }

select,
.gfield_select,
.tix-column-quantity select {
  height: 33px;
  background-color: white;
  border: 1px solid #FFF;
  border-radius: 2px; }

.gform_wrapper .field_description_below .gfield_description,
.gform_wrapper .description,
.gform_wrapper .gfield_description,
.gform_wrapper .gsection_description {
  padding: 0; }

.gform_wrapper .clear-multi {
  display: flex;
  justify-content: flex-start; }

body .gform_wrapper ul li.gfield,
.gform_wrapper ul.gform_fields li.gfield {
  margin: 0 0 1.5rem 0;
  padding-right: 0; }
  .entry-content body .gform_wrapper ul li.gfield, .entry-content
  .gform_wrapper ul.gform_fields li.gfield {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .entry-content body .gform_wrapper ul li.gfield > *:first-child, .entry-content
    .gform_wrapper ul.gform_fields li.gfield > *:first-child {
      width: 40%;
      margin: 0;
      padding-right: 20px;
      justify-content: flex-start; }
    .entry-content body .gform_wrapper ul li.gfield > *:nth-child(n):not(:first-child), .entry-content
    .gform_wrapper ul.gform_fields li.gfield > *:nth-child(n):not(:first-child) {
      width: 60%;
      margin: 0;
      margin-left: auto; }
      .entry-content body .gform_wrapper ul li.gfield > *:nth-child(n):not(:first-child) > *, .entry-content
      .gform_wrapper ul.gform_fields li.gfield > *:nth-child(n):not(:first-child) > * {
        width: 100%; }
    @media screen and (max-width: 768px) {
      .entry-content body .gform_wrapper ul li.gfield, .entry-content
      .gform_wrapper ul.gform_fields li.gfield {
        flex-wrap: wrap;
        justify-content: flex-start; }
        .entry-content body .gform_wrapper ul li.gfield > *:nth-child(1),
        .entry-content body .gform_wrapper ul li.gfield > *:nth-child(2), .entry-content
        .gform_wrapper ul.gform_fields li.gfield > *:nth-child(1),
        .entry-content
        .gform_wrapper ul.gform_fields li.gfield > *:nth-child(2) {
          width: 100%;
          padding-right: 0; } }

/* botones acción alineación derecha */
.gform_wrapper .gform_footer,
.gform_wrapper .gform_page_footer {
  text-align: right; }
  .gform_wrapper .gform_footer .button,
  .gform_wrapper .gform_footer button,
  .gform_wrapper .gform_page_footer .button,
  .gform_wrapper .gform_page_footer button {
    background-color: #cc4b4c;
    border: 2px solid #cc4b4c;
    color: #FFF; }
  .entry-content .gform_wrapper .gform_footer .button,
  .entry-content .gform_wrapper .gform_footer button, .entry-content
  .gform_wrapper .gform_page_footer .button,
  .entry-content
  .gform_wrapper .gform_page_footer button {
    width: 60%;
    height: 50px; }

/* anchura textarea */
@media only screen and (min-width: 641px) {
  .gform_wrapper textarea.medium {
    width: calc(50% - 8px); } }

/* Estilo etiqueta opcional */
.gfield_optional {
  font-weight: lighter;
  font-style: italic;
  color: #999;
  font-size: 0.85em;
  margin-left: 0.5rem; }

.gform_wrapper label.gfield_label {
  font-weight: 500; }

/* Consentimiento */
p.rgpd-banner {
  font-size: 9.6px;
  font-size: 0.6rem; }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #cc4b4c;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s; }

input:-internal-autofill-selected {
  background-color: #FFF !important; }

[id*="paso-"] {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0; }

#site-login,
#site-order {
  height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

#site-login {
  justify-content: flex-start; }

#site-order {
  justify-content: flex-end; }

#form-toggle,
#order-toggle {
  top: calc( 66px / 2);
  position: absolute;
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  background-color: #FFF;
  padding: 5px 20px;
  border-radius: 30px; }

#login-form,
#order-list {
  display: none;
  top: calc( 100px - calc( 66px / 2));
  position: relative;
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    #login-form,
    #order-list {
      position: absolute;
      width: calc( 100% - 2rem);
      left: 1rem;
      right: 1rem; } }

#form-toggle {
  color: #FFF;
  background-color: #cc4b4c;
  border: 2px solid #cc4b4c; }

#order-toggle {
  color: #cc4b4c;
  background-color: transparent;
  border: 2px solid #cc4b4c; }

section.login-widget-area {
  width: 360px;
  background-color: #EBEBEB;
  z-index: 99;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 768px) {
    section.login-widget-area {
      width: 100%; } }
  section.login-widget-area h3 {
    display: none; }
  section.login-widget-area .gf_login_form {
    margin: 0;
    padding: 0; }
    section.login-widget-area .gf_login_form .gform_body .gform_fields .gfield {
      padding: 0;
      margin: 0; }
      section.login-widget-area .gf_login_form .gform_body .gform_fields .gfield .gfield_label {
        font-weight: 500;
        font-size: inherit;
        font-size: 1rem; }
      section.login-widget-area .gf_login_form .gform_body .gform_fields .gfield .ginput_container {
        margin: 0; }
        section.login-widget-area .gf_login_form .gform_body .gform_fields .gfield .ginput_container input {
          margin-bottom: 5px;
          font-size: 1rem;
          height: 25px;
          width: 100%; }
    section.login-widget-area .gf_login_form .gform_footer input[type=submit] {
      width: 100%; }
  section.login-widget-area .gf_login_links {
    text-align: center; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #545454; }
  a:hover, a:focus, a:active {
    color: #cc4b4c; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .main-navigation .menu-principal-container {
    display: flex;
    align-items: center; }
    .main-navigation .menu-principal-container > ul {
      margin: 0;
      display: flex;
      flex-wrap: wrap; }
      @media screen and (max-width: 768px) {
        .main-navigation .menu-principal-container > ul {
          display: none; } }
      .main-navigation .menu-principal-container > ul li {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 16px;
        font-size: 1rem;
        margin-right: 2rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500; }
        @media screen and (max-width: 768px) {
          .main-navigation .menu-principal-container > ul li {
            margin-right: 0; } }
        .main-navigation .menu-principal-container > ul li:last-child {
          margin-right: 0; }
        .main-navigation .menu-principal-container > ul li > a {
          padding: 4px 14px;
          border: 2px solid transparent;
          color: #545454; }
          @media screen and (max-width: 768px) {
            .main-navigation .menu-principal-container > ul li > a {
              text-align: right; } }
        .main-navigation .menu-principal-container > ul li:hover > a,
        .main-navigation .menu-principal-container > ul li:focus > a {
          background-color: transparent;
          color: #cc4b4c;
          text-decoration: underline;
          cursor: pointer; }
        .main-navigation .menu-principal-container > ul li:last-child > a {
          color: #cc4b4c;
          transition: all ease-in-out 0.15s; }
          .main-navigation .menu-principal-container > ul li:last-child > a:hover, .main-navigation .menu-principal-container > ul li:last-child > a:focus {
            transition: all ease-in-out 0.25s; }
      .main-navigation .menu-principal-container > ul a {
        display: block;
        text-decoration: none; }
      .main-navigation .menu-principal-container > ul .search-form {
        background-color: transparent;
        padding: 0;
        justify-content: left; }
        .main-navigation .menu-principal-container > ul .search-form > label {
          width: auto; }
        .main-navigation .menu-principal-container > ul .search-form input[type="search"] {
          font-size: 16px;
          font-size: 1rem;
          text-align: right; }
  .top-bar .main-navigation.toggled {
    position: absolute;
    background-color: #cc4b4c;
    transition: all ease-in-out 0.25s;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 9999; }
    .top-bar .main-navigation.toggled .menu-principal-container {
      width: 100%;
      justify-content: center; }
      @media screen and (max-width: 768px) {
        .top-bar .main-navigation.toggled .menu-principal-container > ul {
          display: block; } }
      .top-bar .main-navigation.toggled .menu-principal-container > ul li {
        justify-content: center;
        margin: 1.5rem 0;
        width: 100%;
        font-size: 32px;
        font-size: 2rem;
        font-weight: 300; }
        .top-bar .main-navigation.toggled .menu-principal-container > ul li a {
          width: auto;
          text-align: center;
          color: #FFF;
          border: 0;
          border-bottom: 2px solid transparent;
          display: inline-block;
          padding: 4px 0; }
          .top-bar .main-navigation.toggled .menu-principal-container > ul li a:hover, .top-bar .main-navigation.toggled .menu-principal-container > ul li a:focus, .top-bar .main-navigation.toggled .menu-principal-container > ul li a:active {
            transform: none;
            border-bottom: 2px solid #FFF; }
        .top-bar .main-navigation.toggled .menu-principal-container > ul li:last-child > a {
          text-transform: none; }
      .top-bar .main-navigation.toggled .menu-principal-container > ul .search-form {
        padding-bottom: 1rem;
        border-bottom: solid 2px #FFF;
        margin-bottom: 0; }
        .top-bar .main-navigation.toggled .menu-principal-container > ul .search-form input[type="search"] {
          font-size: 32px;
          font-size: 2rem;
          text-align: left;
          color: #FFF; }
          .top-bar .main-navigation.toggled .menu-principal-container > ul .search-form input[type="search"]::placeholder {
            color: #FFF; }
        .top-bar .main-navigation.toggled .menu-principal-container > ul .search-form input[type="submit"] {
          font-size: 32px;
          font-size: 2rem;
          color: #FFF; }

/* Small menu. */
.main-navigation .menu-toggle::after {
  content: "Menu"; }

.main-navigation.toggled .menu-toggle::after {
  content: "Cerrar"; }

.menu-toggle {
  display: none;
  z-index: 100;
  position: absolute;
  width: auto;
  border-radius: 20px;
  padding: 0 2rem;
  margin: 0;
  top: 33px;
  height: 40px;
  font-size: 16px;
  font-size: 1rem;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }
  .menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus {
    cursor: pointer;
    color: #FFF; }
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: flex;
      align-items: center; } }

.comment-navigation,
.posts-navigation,
.post-navigation {
  width: 100%; }
  .comment-navigation .nav-links,
  .posts-navigation .nav-links,
  .post-navigation .nav-links {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .site-main .comment-navigation, .site-main
  .posts-navigation, .site-main
  .post-navigation {
    margin: 3em 0;
    overflow: hidden; }
  .comment-navigation .nav-next,
  .comment-navigation .nav-previous,
  .posts-navigation .nav-next,
  .posts-navigation .nav-previous,
  .post-navigation .nav-next,
  .post-navigation .nav-previous {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
    border: 2px solid #545454;
    background-color: #4BCCCB; }
    .comment-navigation .nav-next a,
    .comment-navigation .nav-next a:visited,
    .comment-navigation .nav-previous a,
    .comment-navigation .nav-previous a:visited,
    .posts-navigation .nav-next a,
    .posts-navigation .nav-next a:visited,
    .posts-navigation .nav-previous a,
    .posts-navigation .nav-previous a:visited,
    .post-navigation .nav-next a,
    .post-navigation .nav-next a:visited,
    .post-navigation .nav-previous a,
    .post-navigation .nav-previous a:visited {
      color: #545454; }
    .comment-navigation .nav-next:hover, .comment-navigation .nav-next:active, .comment-navigation .nav-next:focus, .comment-navigation .nav-next:visited,
    .comment-navigation .nav-previous:hover,
    .comment-navigation .nav-previous:active,
    .comment-navigation .nav-previous:focus,
    .comment-navigation .nav-previous:visited,
    .posts-navigation .nav-next:hover,
    .posts-navigation .nav-next:active,
    .posts-navigation .nav-next:focus,
    .posts-navigation .nav-next:visited,
    .posts-navigation .nav-previous:hover,
    .posts-navigation .nav-previous:active,
    .posts-navigation .nav-previous:focus,
    .posts-navigation .nav-previous:visited,
    .post-navigation .nav-next:hover,
    .post-navigation .nav-next:active,
    .post-navigation .nav-next:focus,
    .post-navigation .nav-next:visited,
    .post-navigation .nav-previous:hover,
    .post-navigation .nav-previous:active,
    .post-navigation .nav-previous:focus,
    .post-navigation .nav-previous:visited {
      background-color: #545454; }
      .comment-navigation .nav-next:hover a,
      .comment-navigation .nav-next:hover a:visited, .comment-navigation .nav-next:active a,
      .comment-navigation .nav-next:active a:visited, .comment-navigation .nav-next:focus a,
      .comment-navigation .nav-next:focus a:visited, .comment-navigation .nav-next:visited a,
      .comment-navigation .nav-next:visited a:visited,
      .comment-navigation .nav-previous:hover a,
      .comment-navigation .nav-previous:hover a:visited,
      .comment-navigation .nav-previous:active a,
      .comment-navigation .nav-previous:active a:visited,
      .comment-navigation .nav-previous:focus a,
      .comment-navigation .nav-previous:focus a:visited,
      .comment-navigation .nav-previous:visited a,
      .comment-navigation .nav-previous:visited a:visited,
      .posts-navigation .nav-next:hover a,
      .posts-navigation .nav-next:hover a:visited,
      .posts-navigation .nav-next:active a,
      .posts-navigation .nav-next:active a:visited,
      .posts-navigation .nav-next:focus a,
      .posts-navigation .nav-next:focus a:visited,
      .posts-navigation .nav-next:visited a,
      .posts-navigation .nav-next:visited a:visited,
      .posts-navigation .nav-previous:hover a,
      .posts-navigation .nav-previous:hover a:visited,
      .posts-navigation .nav-previous:active a,
      .posts-navigation .nav-previous:active a:visited,
      .posts-navigation .nav-previous:focus a,
      .posts-navigation .nav-previous:focus a:visited,
      .posts-navigation .nav-previous:visited a,
      .posts-navigation .nav-previous:visited a:visited,
      .post-navigation .nav-next:hover a,
      .post-navigation .nav-next:hover a:visited,
      .post-navigation .nav-next:active a,
      .post-navigation .nav-next:active a:visited,
      .post-navigation .nav-next:focus a,
      .post-navigation .nav-next:focus a:visited,
      .post-navigation .nav-next:visited a,
      .post-navigation .nav-next:visited a:visited,
      .post-navigation .nav-previous:hover a,
      .post-navigation .nav-previous:hover a:visited,
      .post-navigation .nav-previous:active a,
      .post-navigation .nav-previous:active a:visited,
      .post-navigation .nav-previous:focus a,
      .post-navigation .nav-previous:focus a:visited,
      .post-navigation .nav-previous:visited a,
      .post-navigation .nav-previous:visited a:visited {
        color: #4BCCCB; }

/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/
section#breadcrumbs {
  background-color: #EBEBEB;
  width: 100vw;
  margin: 0;
  max-width: none;
  padding: 1rem 0;
  font-size: 0.8rem;
  color: #303a3c; }
  @media screen and (max-width: 768px) {
    section#breadcrumbs {
      padding: 1rem; } }
  section#breadcrumbs > span {
    display: block;
    margin: 0 auto;
    max-width: 768px; }

/*--------------------------------------------------------------
## Menu categories
--------------------------------------------------------------*/
.sidebar-navigation {
  position: sticky;
  top: 50px;
  bottom: 300px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  height: fit-content;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  z-index: 999; }
  @media screen and (max-width: 768px) {
    .sidebar-navigation {
      display: none; } }
  .sidebar-navigation h2, .sidebar-navigation h3 {
    font-size: 1.6rem;
    line-height: 1;
    margin: 1rem 0;
    padding: 0 20px; }
  .sidebar-navigation .category-list,
  .sidebar-navigation .menu {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
    .sidebar-navigation .category-list li,
    .sidebar-navigation .menu li {
      display: flex;
      width: 100%;
      padding: 10px 20px;
      font-weight: 500; }
      .sidebar-navigation .category-list li a,
      .sidebar-navigation .menu li a {
        color: #cc4b4c;
        border-bottom: 2px solid transparent; }
      .sidebar-navigation .category-list li a:hover,
      .sidebar-navigation .menu li a:hover {
        border-bottom: 2px solid #cc4b4c; }
    .sidebar-navigation .category-list li#category-list-toggle,
    .sidebar-navigation .menu li#category-list-toggle {
      position: relative;
      z-index: 999;
      cursor: pointer;
      margin-left: auto; }
      .sidebar-navigation .category-list li#category-list-toggle #category-list-rest,
      .sidebar-navigation .menu li#category-list-toggle #category-list-rest {
        margin: 0;
        position: absolute;
        background-color: #FFF;
        width: 250px;
        z-index: 999;
        border-radius: 5px;
        top: 78px;
        right: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        text-align: right; }
        .sidebar-navigation .category-list li#category-list-toggle #category-list-rest li,
        .sidebar-navigation .menu li#category-list-toggle #category-list-rest li {
          width: 100%;
          text-align: right; }
    @media screen and (max-width: 768px) {
      .sidebar-navigation .category-list,
      .sidebar-navigation .menu {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center; }
        .sidebar-navigation .category-list li#category-list-toggle,
        .sidebar-navigation .menu li#category-list-toggle {
          width: 100%;
          text-align: center;
          justify-content: center; }
          .sidebar-navigation .category-list li#category-list-toggle #category-list-rest,
          .sidebar-navigation .menu li#category-list-toggle #category-list-rest {
            width: 100%;
            right: auto;
            top: 60px; }
            .sidebar-navigation .category-list li#category-list-toggle #category-list-rest li,
            .sidebar-navigation .menu li#category-list-toggle #category-list-rest li {
              justify-content: center; } }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #cc4b4c;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #FFF;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1rem; }
  @media screen and (max-width: 768px) {
    .alignleft {
      /*rtl:ignore*/
      margin-right: calc(2 * 1rem); } }

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1rem; }
  @media screen and (max-width: 768px) {
    .alignright {
      /*rtl:ignore*/
      margin-left: calc(2 * 1rem); } }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Wrappers
--------------------------------------------------------------*/
.wrapper {
  max-width: 1240px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  flex-grow: 2; }
  @media screen and (max-width: 1240px) {
    .wrapper {
      margin: 0 1rem; } }

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  height: 450px; }

.site-header {
  height: 450px; }

.top-bar {
  width: 100%;
  height: 100px;
  background-color: #FFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .top-bar .wrapper {
    justify-content: flex-start;
    align-items: center; }
  .top-bar #site-login {
    width: 100px;
    margin-right: 20px; }
  .top-bar .main-navigation {
    width: calc(33.33% - 120px);
    flex-grow: 2; }
  .top-bar .site-title {
    width: 33.33%;
    display: flex;
    justify-content: center; }
  .top-bar #site-order {
    width: 33.33%; }

.site-title {
  display: flex;
  align-items: center; }

.hero {
  padding-top: 2rem;
  width: 1090px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #FFF;
  height: 350px; }
  .hero [id*="widget-"] {
    width: 420px; }
  .hero h1, .hero p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .hero p {
    font-size: 16px;
    font-size: 1rem; }
  @media screen and (max-width: 1150px) {
    .hero {
      width: 768px; } }
  @media screen and (max-width: 828px) {
    .hero {
      width: 90vw; } }
  @media screen and (max-width: 768px) {
    .hero [id*="widget-"] {
      width: 100%; } }
  .hero .cta-area a.button.button-secondary {
    margin: 0 24px; }
  @media screen and (max-width: 768px) {
    .hero .cta-area {
      text-align: center; }
      .hero .cta-area a.button.button-primary {
        margin-bottom: 1rem; }
      .hero .cta-area a.button.button-secondary {
        display: inline;
        width: auto; } }

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.updated:not(.published) {
  display: none; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.post-categories {
  margin: 0; }

.the-date {
  color: #545454;
  font-weight: 500; }

.entry-header,
.page-header,
#comments {
  margin: 2rem auto;
  max-width: 768px; }

.search-page,
.entry-content {
  margin: 3rem; }
  .search-page > *,
  .search-page > .gform_wrapper,
  .search-page > .wp-block-gallery,
  .search-page > .wp-block-quote,
  .entry-content > *,
  .entry-content > .gform_wrapper,
  .entry-content > .wp-block-gallery,
  .entry-content > .wp-block-quote {
    margin: 2rem 0;
    width: 100%; }
  .search-page > .alignfull,
  .entry-content > .alignfull {
    margin: 2rem 0; }
  .search-page > ul > li,
  .search-page > ol > li,
  .entry-content > ul > li,
  .entry-content > ol > li {
    margin: 0 0 0 4rem; }
  .search-page h2:first-of-type,
  .entry-content h2:first-of-type {
    margin-top: 0; }
  .search-page a,
  .search-page ul li a,
  .search-page p a,
  .search-page table a,
  .entry-content a,
  .entry-content ul li a,
  .entry-content p a,
  .entry-content table a {
    color: #cc4b4c;
    font-weight: 500;
    border-bottom: 2px solid #cc4b4c; }
  .search-page figure a,
  .entry-content figure a {
    border-bottom: 0; }
  @media screen and (max-width: 768px) {
    .search-page,
    .entry-content {
      margin: 0; }
      .search-page > *:not(.search-form),
      .entry-content > *:not(.search-form) {
        max-width: 100%;
        padding: 0 2rem; } }

/* Home */
.lista-icono {
  margin-bottom: 2rem; }
  .lista-icono .lista-icono-titulo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem; }
    .lista-icono .lista-icono-titulo > * {
      width: auto;
      margin-right: 10px; }
    .lista-icono .lista-icono-titulo + p {
      margin-left: 36px; }

/* Columnas */
@media screen and (min-width: 782px) {
  .wp-block-column:not(:last-child) {
    padding-right: 3rem; } }

/* Galerías */
.entry-content .wp-block-gallery .blocks-gallery-item figure a {
  border-bottom: 0; }

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/
body {
  background-color: #545454; }

#content {
  position: relative;
  margin-top: -200px;
  z-index: 10;
  background-color: #EBEBEB;
  padding: 3rem 0; }

[id*="post-"] {
  background-color: #EBEBEB;
  width: calc(100% - 320px);
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    [id*="post-"] {
      width: 100%; } }
  [id*="post-"] .entry-content {
    background-color: #FFF;
    padding: 1rem calc(1rem + 20px);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 50; }
    [id*="post-"] .entry-content > * {
      max-width: none; }
    @media screen and (max-width: 768px) {
      [id*="post-"] .entry-content {
        width: 100%; }
        [id*="post-"] .entry-content > * {
          padding: 0; } }
  [id*="post-"] h2 {
    font-size: 2rem;
    line-height: 2;
    margin: 0; }
    [id*="post-"] h2 + p {
      margin-top: 5px;
      font-size: 1.2rem; }

/*--------------------------------------------------------------
## Variation Affiliates
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## WooCommerce Shop
--------------------------------------------------------------*/
.woocommerce-page ul.products,
.woocommerce ul.products,
.woocommerce.columns-2 ul.products {
  margin-bottom: 0; }
  .woocommerce-page ul.products li.product,
  .woocommerce ul.products li.product,
  .woocommerce.columns-2 ul.products li.product {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    .woocommerce-page ul.products li.product:not(:last-child),
    .woocommerce ul.products li.product:not(:last-child),
    .woocommerce.columns-2 ul.products li.product:not(:last-child) {
      border-bottom: 1px solid #EBEBEB; }
    .woocommerce-page ul.products li.product .add_to_cart_button,
    .woocommerce ul.products li.product .add_to_cart_button,
    .woocommerce.columns-2 ul.products li.product .add_to_cart_button {
      order: 2;
      margin: 0;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #cc4b4c;
      color: #FFF; }
      .woocommerce-page ul.products li.product .add_to_cart_button::before,
      .woocommerce ul.products li.product .add_to_cart_button::before,
      .woocommerce.columns-2 ul.products li.product .add_to_cart_button::before {
        font-family: 'WooCommerce';
        content: '\e01d'; }
      .woocommerce-page ul.products li.product .add_to_cart_button.added::before, .woocommerce-page ul.products li.product .add_to_cart_button.loading::before,
      .woocommerce ul.products li.product .add_to_cart_button.added::before,
      .woocommerce ul.products li.product .add_to_cart_button.loading::before,
      .woocommerce.columns-2 ul.products li.product .add_to_cart_button.added::before,
      .woocommerce.columns-2 ul.products li.product .add_to_cart_button.loading::before {
        content: ''; }
    .woocommerce-page ul.products li.product .added_to_cart,
    .woocommerce ul.products li.product .added_to_cart,
    .woocommerce.columns-2 ul.products li.product .added_to_cart {
      position: absolute;
      right: 80px; }
    .woocommerce-page ul.products li.product #respond input#submit.added::after,
    .woocommerce-page ul.products li.product a.button.added::after,
    .woocommerce-page ul.products li.product button.button.added::after,
    .woocommerce-page ul.products li.product input.button.added::after,
    .woocommerce ul.products li.product #respond input#submit.added::after,
    .woocommerce ul.products li.product a.button.added::after,
    .woocommerce ul.products li.product button.button.added::after,
    .woocommerce ul.products li.product input.button.added::after,
    .woocommerce.columns-2 ul.products li.product #respond input#submit.added::after,
    .woocommerce.columns-2 ul.products li.product a.button.added::after,
    .woocommerce.columns-2 ul.products li.product button.button.added::after,
    .woocommerce.columns-2 ul.products li.product input.button.added::after {
      font-family: 'WooCommerce';
      content: "\e017";
      margin-left: 0;
      vertical-align: bottom; }
    .woocommerce-page ul.products li.product #respond input#submit.loading,
    .woocommerce-page ul.products li.product a.button.loading,
    .woocommerce-page ul.products li.product button.button.loading,
    .woocommerce-page ul.products li.product input.button.loading,
    .woocommerce ul.products li.product #respond input#submit.loading,
    .woocommerce ul.products li.product a.button.loading,
    .woocommerce ul.products li.product button.button.loading,
    .woocommerce ul.products li.product input.button.loading,
    .woocommerce.columns-2 ul.products li.product #respond input#submit.loading,
    .woocommerce.columns-2 ul.products li.product a.button.loading,
    .woocommerce.columns-2 ul.products li.product button.button.loading,
    .woocommerce.columns-2 ul.products li.product input.button.loading {
      padding-right: 0; }
    .woocommerce-page ul.products li.product #respond input#submit.loading::after,
    .woocommerce-page ul.products li.product a.button.loading::after,
    .woocommerce-page ul.products li.product button.button.loading::after,
    .woocommerce-page ul.products li.product input.button.loading::after,
    .woocommerce ul.products li.product #respond input#submit.loading::after,
    .woocommerce ul.products li.product a.button.loading::after,
    .woocommerce ul.products li.product button.button.loading::after,
    .woocommerce ul.products li.product input.button.loading::after,
    .woocommerce.columns-2 ul.products li.product #respond input#submit.loading::after,
    .woocommerce.columns-2 ul.products li.product a.button.loading::after,
    .woocommerce.columns-2 ul.products li.product button.button.loading::after,
    .woocommerce.columns-2 ul.products li.product input.button.loading::after {
      font-family: WooCommerce;
      content: "\e01c";
      vertical-align: top;
      font-weight: 400;
      position: absolute;
      top: 15px;
      right: 15px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite; }
    .woocommerce-page ul.products li.product .woocommerce-loop-product__meta,
    .woocommerce ul.products li.product .woocommerce-loop-product__meta,
    .woocommerce.columns-2 ul.products li.product .woocommerce-loop-product__meta {
      padding: 15px 0 12px;
      order: 1;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      width: calc( 100% - 250px); }
      .woocommerce-page ul.products li.product .woocommerce-loop-product__meta > *,
      .woocommerce ul.products li.product .woocommerce-loop-product__meta > *,
      .woocommerce.columns-2 ul.products li.product .woocommerce-loop-product__meta > * {
        width: 100%; }
      .woocommerce-page ul.products li.product .woocommerce-loop-product__meta .woocommerce-loop-product__title,
      .woocommerce ul.products li.product .woocommerce-loop-product__meta .woocommerce-loop-product__title,
      .woocommerce.columns-2 ul.products li.product .woocommerce-loop-product__meta .woocommerce-loop-product__title {
        font-size: 0.9em;
        padding: 0; }
      .woocommerce-page ul.products li.product .woocommerce-loop-product__meta .woocommerce-loop-product__description,
      .woocommerce ul.products li.product .woocommerce-loop-product__meta .woocommerce-loop-product__description,
      .woocommerce.columns-2 ul.products li.product .woocommerce-loop-product__meta .woocommerce-loop-product__description {
        font-size: 0.7em;
        margin: 0; }
      .woocommerce-page ul.products li.product .woocommerce-loop-product__meta .woocommerce-loop-product__price,
      .woocommerce ul.products li.product .woocommerce-loop-product__meta .woocommerce-loop-product__price,
      .woocommerce.columns-2 ul.products li.product .woocommerce-loop-product__meta .woocommerce-loop-product__price {
        font-weight: 500;
        font-size: 0.8em;
        margin: 0;
        align-items: flex-end; }
    @media screen and (max-width: 1090px) {
      .woocommerce-page ul.products li.product,
      .woocommerce ul.products li.product,
      .woocommerce.columns-2 ul.products li.product {
        margin: 0 0 1em 0;
        width: 100%; }
        .woocommerce-page ul.products li.product:not(:nth-child(even)),
        .woocommerce ul.products li.product:not(:nth-child(even)),
        .woocommerce.columns-2 ul.products li.product:not(:nth-child(even)) {
          margin: 0 0 1em 0; }
        .woocommerce-page ul.products li.product .woocommerce-loop-product__meta,
        .woocommerce ul.products li.product .woocommerce-loop-product__meta,
        .woocommerce.columns-2 ul.products li.product .woocommerce-loop-product__meta {
          padding: 15px 0 12px 20px;
          order: 1; } }
    .woocommerce-page ul.products li.product li.last,
    .woocommerce ul.products li.product li.last,
    .woocommerce.columns-2 ul.products li.product li.last {
      margin-right: 0; }

/*--------------------------------------------------------------
## WooCommerce Cart
--------------------------------------------------------------*/
.order-widget {
  width: 360px;
  background-color: #EBEBEB;
  z-index: 99;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 768px) {
    .order-widget {
      width: 100%; } }
  .order-widget .widget_shopping_cart_content .product_list_widget {
    margin: 20px 0;
    list-style: none; }
  .order-widget .widget_shopping_cart_content .woocommerce-mini-cart-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0; }
    .order-widget .widget_shopping_cart_content .woocommerce-mini-cart-item .remove_from_cart_button {
      width: 10%; }
    .order-widget .widget_shopping_cart_content .woocommerce-mini-cart-item > a,
    .order-widget .widget_shopping_cart_content .woocommerce-mini-cart-item .quantity {
      width: 45%;
      font-size: 1rem; }
    .order-widget .widget_shopping_cart_content .woocommerce-mini-cart-item .quantity {
      text-align: right; }
      .order-widget .widget_shopping_cart_content .woocommerce-mini-cart-item .quantity .amount {
        font-weight: 500; }
    .order-widget .widget_shopping_cart_content .woocommerce-mini-cart-item .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
      display: none; }
  .order-widget .widget_shopping_cart_content .woocommerce-mini-cart__total {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(131, 131, 131, 0.3);
    padding: 20px 0; }
    .order-widget .widget_shopping_cart_content .woocommerce-mini-cart__total .amount {
      font-weight: 500;
      font-size: 1.1rem; }
  .order-widget .widget_shopping_cart_content .woocommerce-mini-cart__buttons {
    margin-bottom: 0; }
    .order-widget .widget_shopping_cart_content .woocommerce-mini-cart__buttons .button.wc-forward {
      display: none; }
    .order-widget .widget_shopping_cart_content .woocommerce-mini-cart__buttons .button.checkout.wc-forward {
      display: block; }

/*--------------------------------------------------------------
## WooCommerce Order
--------------------------------------------------------------*/
#site-order .order-toggle {
  cursor: pointer;
  color: #cc4b4c; }

#site-order .wrapper {
  width: 1240px;
  display: flex;
  justify-content: flex-end; }
  #site-order .wrapper .order-widget {
    position: relative;
    width: 360px;
    min-height: 240px;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
    background-color: #FFF;
    z-index: 999; }

@media screen and (max-width: 768px) {
  #site-order {
    position: relative;
    padding: 1rem 0.5rem 1.5rem; }
    #site-order .wrapper .order-widget {
      width: 100%; } }

/*--------------------------------------------------------------
## WooCommerce Checkout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
#colophon {
  background-color: #545454;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 3rem 0;
  z-index: 0; }
  #colophon .wrapper {
    width: 1240px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 20px; }
  #colophon .footer-widget-area {
    width: 100%; }
    #colophon .footer-widget-area img {
      margin-bottom: 1rem; }
    @media screen and (max-width: 768px) {
      #colophon .footer-widget-area {
        text-align: center; } }
  #colophon .footer-navigation {
    width: 60%; }
    #colophon .footer-navigation ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      #colophon .footer-navigation ul li {
        list-style: none; }
        #colophon .footer-navigation ul li > a {
          border-bottom: 2px solid #FFF; }
      #colophon .footer-navigation ul li:not(:last-child) {
        margin: 0 1rem 0 0; }
    @media screen and (max-width: 768px) {
      #colophon .footer-navigation {
        width: 100%;
        margin: 1rem 0 3rem; }
        #colophon .footer-navigation ul {
          justify-content: center; }
          #colophon .footer-navigation ul li {
            text-align: center;
            margin: 0; } }
  #colophon .footer-site-name {
    width: 40%;
    justify-content: flex-end;
    text-align: right; }
    @media screen and (max-width: 768px) {
      #colophon .footer-site-name {
        width: 100%;
        justify-content: center;
        text-align: center; } }
  #colophon h3, #colophon a, #colophon address {
    color: #FFF; }
  #colophon h3 {
    margin-bottom: 1rem; }
  #colophon .button {
    margin: 1rem 0; }
  #colophon p, #colophon ul {
    color: #FFF;
    margin: 0;
    font-size: 16px;
    font-size: 1rem; }

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Bloques
--------------------------------------------------------------*/
.entry-content .bloque-ficha {
  color: #303a3c;
  background-color: #EBEBEB;
  padding: 3rem; }
  .entry-content .bloque-ficha > li {
    list-style: none;
    margin: 0; }
    .entry-content .bloque-ficha > li:not(:last-child) {
      margin: 0 0 1rem 0; }

.valoracion {
  margin: 2rem auto;
  max-width: 768px;
  text-align: center; }

/*--------------------------------------------------------------
## Post Ratings
--------------------------------------------------------------*/
.kk-star-ratings.lft,
.kk-star-ratings.rgt {
  float: none;
  margin: 2rem auto; }
  @media screen and (max-width: 768px) {
    .kk-star-ratings.lft,
    .kk-star-ratings.rgt {
      padding: 0; } }

/*--------------------------------------------------------------
## GDPR
--------------------------------------------------------------*/
.gdpr.gdpr-privacy-bar,
.gdpr.gdpr-reconsent-bar {
  background: #F2F4F4;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1); }

.gdpr.gdpr-privacy-bar .gdpr-wrapper,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper {
  padding: 0; }

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content p,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-content p,
.gdpr.gdpr-privacy-bar .gdpr-preferences,
.gdpr.gdpr-reconsent-bar .gdpr-preferences,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item label,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item .gdpr-policy-link,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item .gdpr-policy-link {
  font-family: "Roboto", sans-serif !important;
  color: #4d4d4d;
  font-size: 1rem; }
  .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content p > a,
  .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-content p > a,
  .gdpr.gdpr-privacy-bar .gdpr-preferences > a,
  .gdpr.gdpr-reconsent-bar .gdpr-preferences > a,
  .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item label > a,
  .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item .gdpr-policy-link > a,
  .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item .gdpr-policy-link > a,
  .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item .gdpr-policy-link > a,
  .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item .gdpr-policy-link > a,
  .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item .gdpr-policy-link > a,
  .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item .gdpr-policy-link > a,
  .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item .gdpr-policy-link > a,
  .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item .gdpr-policy-link > a {
    text-decoration: underline; }

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content p,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-content p {
  font-size: 0.75rem; }

.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item .gdpr-policy-link {
  font-family: "Roboto", sans-serif;
  text-decoration: underline; }

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  min-height: 50px;
  flex-wrap: wrap;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content,
    .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-content {
      flex-wrap: wrap;
      width: 100%; } }
  @media screen and (min-width: 1440px) {
    .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content,
    .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-content {
      padding: 0 1rem;
      flex-wrap: nowrap;
      flex: 2;
      justify-content: flex-start; } }

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right {
  width: 100%;
  background-color: #CCC;
  min-height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: stretch; }
  @media screen and (max-width: 1024px) {
    .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right,
    .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right {
      flex-wrap: wrap;
      width: 100%; } }
  @media screen and (min-width: 1440px) {
    .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right,
    .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right {
      padding: 0;
      flex-wrap: nowrap;
      flex: 1; } }

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: center;
  width: auto;
  min-width: 300px; }
  @media screen and (max-width: 1024px) {
    .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories,
    .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list,
    .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories,
    .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list {
      flex-wrap: wrap;
      width: 100%; } }

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item {
  display: inline-block;
  margin: 0;
  padding-top: 0; }

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-agreement,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-agreement {
  margin: 0;
  width: 100%;
  align-self: center; }
  @media screen and (max-width: 1024px) {
    .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-agreement,
    .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-agreement {
      flex-wrap: wrap; } }

.gdpr-buttons {
  display: flex;
  width: 100%; }

.gdpr.gdpr-privacy-bar .gdpr-preferences::before,
.gdpr.gdpr-reconsent-bar .gdpr-preferences::before {
  content: '';
  color: #7E7E7E; }

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-close,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-close {
  display: none; }

.gdpr.gdpr-privacy-bar .gdpr-agreement,
.gdpr.gdpr-reconsent-bar .gdpr-agreement {
  position: relative;
  font-size: inherit;
  font-weight: normal;
  height: 50px;
  line-height: 26px;
  white-space: normal;
  margin: 0;
  background-color: #cc4b4c;
  border-color: transparent;
  box-shadow: none;
  color: #EBEBEB;
  font-weight: 500;
  text-decoration: none;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  right: 0;
  padding: 0 2rem; }

.gdpr.gdpr-privacy-bar .gdpr-agreement:hover,
.gdpr.gdpr-reconsent-bar .gdpr-agreement:hover {
  background: #303a3c;
  border: 0;
  transform: none; }

@media screen and (max-width: 640px) {
  .gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-preferences,
  .gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-preferences {
    margin: 10px 0; } }

button.gdpr-preferences {
  display: block;
  margin: 0 auto 4rem; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.3333333333%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.6666666667%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.2857142857%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.1111111111%; }

.gallery-caption {
  display: block; }
