section#breadcrumbs {
  background-color: $color__bg-light;
  width: 100vw;
  margin: 0;
  max-width: none;
  padding: 1rem 0;
  font-size: 0.8rem;
  color: $color__text-block;

  @media screen and (max-width: $size__tablet) {
    padding: 1rem;
  }

  & > span {
    display: block;
    margin: 0 auto;
    max-width: $size__tablet;
  }
}