.sidebar-navigation {
  position: sticky;
  top: 50px;
  bottom: 300px;
  background-color: $color__bg;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  height: fit-content;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  z-index: 999;


  @media screen and (max-width: $size__tablet) {
    display: none;
  }

  h2, h3 {
    font-size: 1.6rem;
    line-height: 1;
    margin: 1rem 0;
    padding: 0 20px;
  }

  .category-list,
  .menu {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    li {
      display: flex;
      width: 100%;
      padding: 10px 20px;
      font-weight: $font__weight-strong;

      a {
        color: $color__main;
        border-bottom: 2px solid transparent;
      }

      a:hover {
        border-bottom: 2px solid $color__main;
      }

    }

    li#category-list-toggle {
      position: relative;
      z-index: 999;
      cursor: pointer;
      margin-left: auto;

      #category-list-rest {
        margin: 0;
        position: absolute;
        background-color: $color__bg;
        width: 250px;
        z-index: 999;
        border-radius: 5px;
        top: 78px;
        right: 20px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        text-align: right;

        li {
          width: 100%;
          text-align: right;
        }
      }

    }

    @media screen and (max-width: $size__tablet) {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;

      li#category-list-toggle {
        width: 100%;
        text-align: center;
        justify-content: center;

        #category-list-rest {
          width: 100%;
          right: auto;
          top: 60px;

          li {
            justify-content: center;
          }
        }
      }
    }
  }
}
