h1, h2, h3, h4, h5, h6 {
	font-family: $font__header;
	clear: both;
	font-weight: $font__weight-headings;
}

h1, h2 {
	@include font-size(2.2);
	line-height: 1.2;
	margin-bottom: 1.6rem;

	@media screen and (max-width: $size__tablet) {
		@include font-size(1.8);
		margin-bottom: 1rem;
	}
}

h3,
.gform_wrapper h3.gform_title {
	@include font-size(1.75);
	line-height: 1.2;

	@media screen and (max-width: $size__tablet) {
		@include font-size(1.4);
	}
}

h4 {
	@include font-size(1.5);
	line-height: 1.2;

	@media screen and (max-width: $size__tablet) {
		@include font-size(1.2);
	}
}