.entry-content {

  .bloque-ficha {
    color: $color__text-block;
    background-color: $color__bg-light;
    padding: 3rem;

    & > li {
      list-style: none;
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 1rem 0;
      }
    }
  }

}

.valoracion {
  margin: 2rem auto;
  max-width: $size__tablet;
  text-align: center;
}