$height-top-bar : 100px;
$height-button : 34px;
$result-height : $height-top-bar - $height-button;
$margin-button-top : calc( #{$result-height} / 2);

#site-login,
#site-order {
  height: $height-top-bar;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#site-login {
  justify-content: flex-start;
}
#site-order {
  justify-content: flex-end;
}

#form-toggle,
#order-toggle {
  top: $margin-button-top;
  position: absolute;
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-weight: $font__weight-strong;
  background-color: $color__bg;
  padding: 5px 20px;
  border-radius: 30px;
}

#login-form,
#order-list {
  display: none;
  top: calc( #{$height-top-bar} - #{$margin-button-top} );
  position: relative;
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: $size__tablet) {
    position: absolute;
    width: calc( 100% - 2rem);
    left: 1rem;
    right: 1rem;
  }
}

#form-toggle {
  color: $color__bg;
  background-color: $color__main;
  border: 2px solid $color__main;
}
#order-toggle {
  color: $color__main;
  background-color: transparent;
  border: 2px solid $color__main;
}

section.login-widget-area {
  width: 360px;;
  background-color: $color__bg-light;
  z-index: 99;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  @media screen and (max-width: $size__tablet) {
    width: 100%;
  }

  h3 {
    display: none;
  }

  .gf_login_form {
    margin: 0;
    padding: 0;

    .gform_body {
      .gform_fields {

        .gfield {
          padding: 0;
          margin: 0;

          .gfield_label {
            font-weight: $font__weight-strong;
            font-size: inherit;
            font-size: 1rem;
          }
          .ginput_container {
            margin: 0;

            input {
              margin-bottom: 5px;
              font-size: 1rem;
              height: 25px;
              width: 100%;
            }
          }
        }

      }
    }

    .gform_footer {
      input[type=submit] {
        width: 100%;
      }
    }
  }

  .gf_login_links {
    text-align: center;
  }
}