table {
	margin: 0 0 1.5em;
	width: 100%;
}

td, th {
	border-bottom: 0;
	padding: 15px;
	text-align: left;
}
.page-id-20 .tix-ticket-221,
.page-id-20 .tix-ticket-198,
.page-id-46 .tix-ticket-215,
.page-id-46 .tix-ticket-213,
.page-id-46 .tix-ticket-208 {
	display: none;
}