body {
  background-color: $color__background-footer;
}
#content {
  position: relative;
  margin-top: -200px;
  z-index: 10;
  background-color: $color__bg-light;
  padding: 3rem 0;
}

[id*="post-"] {
  background-color: $color__bg-light;
  width: calc(#{$size__site-main} - 320px) ;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $size__tablet) {
    width: 100%;
  }

  .entry-content {
    background-color: $color__bg;
    padding: 1rem calc(1rem + 20px);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    margin: 0;
    width: $size__site-main;
    position: relative;
    z-index: 50;

    & > * {
      max-width: none;
    }

    @media screen and (max-width: $size__tablet) {
      width: 100%;

      & > * {
        padding: 0;
      }
    }

  }

  h2 {
    font-size: 2rem;
    line-height: 2;
    margin: 0;

    & + p {
      margin-top: 5px;
      font-size: 1.2rem;
    }
  }
}