.entry-content {

  // BLOQUE encabezado
  .wp-block-encabezado {
    padding: 2rem 2rem 0 2rem;
    margin: 0rem auto;
    max-width: $size__box;

    .wp-block-column:first-of-type {
      padding-left: 3rem;
      padding-right: 0;
      margin-right: 0;
    }

    h2,
    h1 {
      margin-top: 6rem;
    }

    @media screen and (max-width: $size__tablet) {
      .wp-block-column {
        flex-basis: 100%;
        text-align: center;

        &:first-of-type {
          padding-left: 0;
        }

        .wp-block-image {
          max-width: 70%;
          margin: 0 auto 0;
        }
      }
    }
  }

  // BLOQUE porqué
  .wp-block-porque {
    background-color: #FAFAFA;
    padding: 3rem;
    margin: 0 auto;
    max-width: 1240px;

    h2 {
      font-size: 1.8rem;

      @media screen and (max-width: $size__tablet) {
        font-size: 1.5rem;
      }

    }

    p {
      font-size: 1rem;
      margin: 0 0 0 6rem;
      padding: 0 0 0 2rem;
      border-left: 10px solid $color__main;

      @media screen and (max-width: $size__tablet) {
        margin: 0 0 0 2rem;
      }
    }

    div[class^="grids-a-"] {
      max-width: 918px;
      margin: 0 auto;
    }

  }

  // BLOQUE destacado
  .wp-block-destacado {
    margin: 6rem auto 2rem;
    color: $color__main;
    line-height: 1.4;
  }

  // BLOQUE media-text
  .wp-block-media-text.alignwide {
    margin: 0 auto;

    @media screen and (max-width: $size__tablet) {
      .wp-block-media-text__media {
        text-align: center;
      }

      &>figure>img {
        width: 70%;
      }

      .wp-block-media-text__content {
        text-align: center;
      }
    }
  }

  // BLOQUE producto
  .wp-block-producto {
    margin: 0;
    background-color: $color__main-lg;

    div[class^="grids-a-"] {
      max-width: 918px;
      margin: 3rem auto;
    }
    h2, h3 {
      @include font-size(2);
      line-height: 1.2;
      margin: .5rem 0 1rem;
    }
    p {
      font-size: 1rem;
    }
  }

  // BLOQUE características
  .wp-block-caracteristicas {
    .wp-block-image {
      min-height: 150px;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      figure {
        margin: 0;
      }
    }
    p {
      margin-bottom: 0.6rem;
      font-size: 0.9rem;
    }

    div[class^="grids-a-"] p:last-of-type a {
      color: $color__text-body;
      border-bottom-color: $color__text-body;
    }

    div[class^="grids-a-"]:nth-of-type(3),
    div[class^="grids-a-"]:nth-of-type(5) {
      background-color: $color__bg-table;
    }
    div[class^="grids-a-"]:not(:nth-of-type(1)) {
      padding: 0 5px 20px !important;
    }
    div[class^="grids-a-"]:hover:not(:nth-of-type(1)) {
      background-color: $color__main-lg;
    }

    .wp-block-caracteristicas-favorito:before {
      content: "nuestro favorito";
      background-color: $color__main;
      color: $color__text-hl;
      position: absolute;
      top: -15px;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0 8px;
      border-radius: 3px;
    }
  }

  // BLOQUE favoritos
  .wp-block-favoritos {
    background-color: $color__main-lg;
    figure {
      margin: 0;
    }

    button,
    .button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .wp-block-button__link {
      text-transform: uppercase;
      font-size: .8rem;
      padding: 4px 12px;
      border-radius: 5px;
    }

    @media screen and (max-width: 1024px) {

      div[class^="grids-a-"]:nth-of-type(2) {
        grid-column-start: 1;
        grid-column-end: 4;
      }
      div[class^="grids-a-"]:nth-of-type(3) {
        grid-column-start: 4;
        grid-column-end: 7;
      }
      div[class^="grids-a-"]:nth-of-type(4) {
        grid-column-start: 7;
        grid-column-end: 10;
      }
      div[class^="grids-a-"]:nth-of-type(5) {
        grid-column-start: 10;
        grid-column-end: 13;
      }

    }
  }

  // BLOQUE donde-comprar
  .wp-block-donde-comprar {
    background-color: $color__main-lg;

    @media screen and (max-width: 1024px) {
      div[class^="grids-a-"]:nth-of-type(2) {
        grid-column-start: 3;
      }
    }
  }

  // BLOQUE lista-flecha
  ul.wp-block-lista-flecha {
    list-style: none;

    & > li {
      background-repeat: no-repeat;
      background-position: 0 3px;
      padding: 0 0 0 40px;
      font-size: 1rem;

      &:not(:last-child) {
        padding-bottom: 20px;
      }
    }
  }

  p.wp-block-subtitulo {
    font-size: 1rem;
    margin-bottom: 0;
    color: $color__main;
    text-transform: uppercase;
    font-weight: $font__weight-headings;
  }

  .float-left {
    width: 50%;
    float: left;
  }
  .float-right {
    width: 50%;
    float: right;
  }

  // BLOQUE comparativa
  .wp-block-comparativa {
    background-color: $color__bg-light;
    padding: 2rem 3rem;

    .wp-block-column:nth-of-type(1) {

      ul {
        list-style: none;

        & > li {
          background-repeat: no-repeat;
          background-position: 0 6px;
          padding: 0 0 0 24px;
          background-size: 18px;
        }
      }

    }
    .wp-block-column:nth-of-type(2) {

      ul {
        list-style: none;

        & > li {
          background-repeat: no-repeat;
          background-position: 0 6px;
          padding: 0 0 0 24px;
          background-size: 18px;
        }
      }

    }

    h3 {
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
    }
    ul {
      list-style: none;
      margin: 0;
      font-size: 1em;

      li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

}