.woocommerce-page,
.woocommerce,
.woocommerce.columns-2 {
  ul.products {
    margin-bottom: 0;

    li.product {
      width: 100%;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        border-bottom: 1px solid $color__bg-light;
      }

      .add_to_cart_button {
        order: 2;
        margin: 0;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color__main;
        color: $color__bg;

        &::before {
          font-family: 'WooCommerce';
          content: '\e01d';
        }
        &.added::before,
        &.loading::before {
          content: '';
        }
      }

      .added_to_cart {
        position: absolute;
        right: 80px;
      }

      #respond input#submit.added::after,
      a.button.added::after,
      button.button.added::after,
      input.button.added::after {
        font-family: 'WooCommerce';
        content: "\e017";
        margin-left: 0;
        vertical-align: bottom;
      }
      #respond input#submit.loading,
      a.button.loading,
      button.button.loading,
      input.button.loading {
        padding-right:0;
      }
      #respond input#submit.loading::after,
      a.button.loading::after,
      button.button.loading::after,
      input.button.loading::after {
        font-family:WooCommerce;
        content:"\e01c";
        vertical-align:top;
        font-weight:400;
        position:absolute;
        top: 15px;
        right: 15px;
        -webkit-animation:spin 2s linear infinite;
        animation:spin 2s linear infinite
      }

      .woocommerce-loop-product__meta {
        padding: 15px 0 12px;
        order: 1;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: calc( 100% - 250px );

        & > * {
          width: 100%;
        }

        .woocommerce-loop-product__title {
          font-size: 0.9em;
          padding: 0;
        }

        .woocommerce-loop-product__description {
          font-size: 0.7em;
          margin: 0;
        }

        .woocommerce-loop-product__price {
          font-weight: $font__weight-strong;
          font-size: 0.8em;
          margin: 0;
          align-items: flex-end;
        }
      }

      @media screen and (max-width: $size__box-inner) {
        margin: 0 0 1em 0;
        width: 100%;

        &:not(:nth-child(even)) {
          margin: 0 0 1em 0;
        }


        .woocommerce-loop-product__meta {
          padding: 15px 0 12px 20px;
          order: 1;

        }
      }

      li.last {
        margin-right: 0;
      }
    }
  }
}