#site-order {
  .order-toggle {
    cursor: pointer;
    color: $color__main;
  }
  .wrapper {
    width: $size__box;
    display: flex;
    justify-content: flex-end;

    .order-widget {
      position: relative;
      width: 360px;
      min-height: 240px;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: 0 3px 20px rgba(0,0,0,.16);
      background-color: $color__bg;
      z-index: 999;
    }
  }

  @media screen and (max-width: $size__tablet) {

    position: relative;
    padding: 1rem 0.5rem 1.5rem;

    .wrapper {

      .order-widget {
        width: 100%;
      }
    }
  }
}