.order-widget {
  width: 360px;;
  background-color: $color__bg-light;
  z-index: 99;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  @media screen and (max-width: $size__tablet) {
    width: 100%;
  }

  .widget_shopping_cart_content {

    .product_list_widget {
      margin: 20px 0;
      list-style: none;
    }

    .woocommerce-mini-cart-item {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;

      .remove_from_cart_button {
        width: 10%;
      }

      & > a,
      .quantity {
        width: 45%;
        font-size: 1rem;
      }

      .quantity {
        text-align: right;

        .amount {
          font-weight: $font__weight-strong;
        }
      }

      .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
        display: none;
      }

    }

    .woocommerce-mini-cart__total {
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid rgba(131,131,131,0.3);
      padding: 20px 0;

      .amount {
        font-weight: $font__weight-strong;
        font-size: 1.1rem;
      }
    }

    .woocommerce-mini-cart__buttons {
      margin-bottom: 0;
      .button.wc-forward {
        display: none;
      }
      .button.checkout.wc-forward {
        display: block;
      }
    }
  }
}